# Forest plot with regression

## 1. Extract variant info per study

Variants of interest
chr1:155235196	rs80356771	GBA_R502C
chr1:155235843	rs76763715	GBA_N409S
chr1:155236376	rs2230288	GBA_E365K
chr12:40340400	rs34637584	LRRK2_G2019S
chr1:155236246	rs75548401	GBA_T408M
chr1:155238570	rs147138516	GBA_D179H
chr12:40310435	rs34995376	LRRK2_R1441H
chr6:161785820	rs34424986	PRKN_R275W
chr1:155239633	rs758447515	GBA_S146L

### 1.1 23andMe

In [10]:
library(tidyverse)
library(data.table)

andme = fread("23andMe_834variants_annotated_and_stats.txt")

GBA_R502C = andme %>% filter(position == 155235196) %>% select(effect, stderr, pvalue) %>% mutate(Dataset = "23andMe", Z = effect/stderr) %>% dplyr::rename("Beta" = effect, "SE" = stderr, "P" = pvalue) %>% select(Dataset, Beta, SE, Z, P)
GBA_N409S = andme %>% filter(position == 155235843) %>% select(effect, stderr, pvalue) %>% mutate(Dataset = "23andMe", Z = effect/stderr) %>% dplyr::rename("Beta" = effect, "SE" = stderr, "P" = pvalue) %>% select(Dataset, Beta, SE, Z, P)
GBA_E365K = andme %>% filter(position == 155236376) %>% select(effect, stderr, pvalue) %>% mutate(Dataset = "23andMe", Z = effect/stderr) %>% dplyr::rename("Beta" = effect, "SE" = stderr, "P" = pvalue) %>% select(Dataset, Beta, SE, Z, P)
LRRK2_G2019S = andme %>% filter(position == 40340400) %>% select(effect, stderr, pvalue) %>% mutate(Dataset = "23andMe", Z = effect/stderr) %>% dplyr::rename("Beta" = effect, "SE" = stderr, "P" = pvalue) %>% select(Dataset, Beta, SE, Z, P)
GBA_T408M = andme %>% filter(position == 155236246) %>% select(effect, stderr, pvalue) %>% mutate(Dataset = "23andMe", Z = effect/stderr) %>% dplyr::rename("Beta" = effect, "SE" = stderr, "P" = pvalue) %>% select(Dataset, Beta, SE, Z, P)
GBA_D179H = andme %>% filter(position == 155238570) %>% select(effect, stderr, pvalue) %>% mutate(Dataset = "23andMe", Z = effect/stderr) %>% dplyr::rename("Beta" = effect, "SE" = stderr, "P" = pvalue) %>% select(Dataset, Beta, SE, Z, P)
LRRK2_R1441H = andme %>% filter(position == 40310435) %>% select(effect, stderr, pvalue) %>% mutate(Dataset = "23andMe", Z = effect/stderr) %>% dplyr::rename("Beta" = effect, "SE" = stderr, "P" = pvalue) %>% select(Dataset, Beta, SE, Z, P)
PRKN_R275W = andme %>% filter(position == 161785820) %>% select(effect, stderr, pvalue) %>% mutate(Dataset = "23andMe", Z = effect/stderr) %>% dplyr::rename("Beta" = effect, "SE" = stderr, "P" = pvalue) %>% select(Dataset, Beta, SE, Z, P)
GBA_S146L = andme %>% filter(position == 155239633) %>% select(effect, stderr, pvalue) %>% mutate(Dataset = "23andMe", Z = effect/stderr) %>% dplyr::rename("Beta" = effect, "SE" = stderr, "P" = pvalue) %>% select(Dataset, Beta, SE, Z, P)


write.table(GBA_R502C, "23andMe_GBA_R502C_rs80356771.txt", quote=F, row.names =F, sep = "\t")
write.table(GBA_N409S, "23andMe_GBA_N409S_rs76763715", quote=F, row.names =F, sep = "\t")
write.table(GBA_E365K, "23andMe_GBA_E365K_rs2230288", quote=F, row.names =F, sep = "\t")
write.table(LRRK2_G2019S, "23andMe_LRRK2_G2019S_rs34637584", quote=F, row.names =F, sep = "\t")
write.table(GBA_T408M, "23andMe_GBA_T408M_rs75548401", quote=F, row.names =F, sep = "\t")
write.table(GBA_D179H, "23andMe_GBA_D179H_rs147138516", quote=F, row.names =F, sep = "\t")
write.table(LRRK2_R1441H, "23andMe_LRRK2_R1441H_rs34995376", quote=F, row.names =F, sep = "\t")
write.table(PRKN_R275W, "23andMe_PRKN_R275W_rs34424986", quote=F, row.names =F, sep = "\t")
write.table(GBA_S146L, "23andMe_GBA_S146L_rs758447515", quote=F, row.names =F, sep = "\t")

wc -l 23andMe_*_*_rs*.txt
   1 23andMe_GBA_D179H_rs147138516.txt
   1 23andMe_GBA_E365K_rs2230288.txt
   1 23andMe_GBA_N409S_rs76763715.txt
   1 23andMe_GBA_R502C_rs80356771.txt
   1 23andMe_GBA_S146L_rs758447515.txt
   1 23andMe_GBA_T408M_rs75548401.txt
   1 23andMe_LRRK2_G2019S_rs34637584.txt
   1 23andMe_LRRK2_R1441H_rs34995376.txt
   1 23andMe_PRKN_R275W_rs34424986.txt
   9 total

### 1.2 UKB

In [11]:
UKB = fread("./UKB_and_AMP/UKB_608_from23andme_withcovars_score_ALL_PD.SingleScore.assoc")

GBA_R502C_U = UKB %>% filter(POS == 155235196) %>% select(EFFECT, SE, PVALUE) %>% mutate(Dataset = "UKB", Z = EFFECT/SE) %>% dplyr::rename("Beta" = EFFECT, "P" = PVALUE) %>% select(Dataset, Beta, SE, Z, P)
GBA_N409S_U = UKB %>% filter(POS == 155235843) %>% select(EFFECT, SE, PVALUE) %>% mutate(Dataset = "UKB", Z = EFFECT/SE) %>% dplyr::rename("Beta" = EFFECT, "P" = PVALUE) %>% select(Dataset, Beta, SE, Z, P)
GBA_E365K_U = UKB %>% filter(POS == 155236376) %>% select(EFFECT, SE, PVALUE) %>% mutate(Dataset = "UKB", Z = EFFECT/SE) %>% dplyr::rename("Beta" = EFFECT, "P" = PVALUE) %>% select(Dataset, Beta, SE, Z, P)
LRRK2_G2019S_U = UKB %>% filter(POS == 40340400) %>% select(EFFECT, SE, PVALUE) %>% mutate(Dataset = "UKB", Z = EFFECT/SE) %>% dplyr::rename("Beta" = EFFECT, "P" = PVALUE) %>% select(Dataset, Beta, SE, Z, P)
GBA_T408M_U = UKB %>% filter(POS == 155236246) %>% select(EFFECT, SE, PVALUE) %>% mutate(Dataset = "UKB", Z = EFFECT/SE) %>% dplyr::rename("Beta" = EFFECT, "P" = PVALUE) %>% select(Dataset, Beta, SE, Z, P)
GBA_D179H_U = UKB %>% filter(POS == 155238570) %>% select(EFFECT, SE, PVALUE) %>% mutate(Dataset = "UKB", Z = EFFECT/SE) %>% dplyr::rename("Beta" = EFFECT, "P" = PVALUE) %>% select(Dataset, Beta, SE, Z, P)
LRRK2_R1441H_U = UKB %>% filter(POS == 40310435) %>% select(EFFECT, SE, PVALUE) %>% mutate(Dataset = "UKB", Z = EFFECT/SE) %>% dplyr::rename("Beta" = EFFECT, "P" = PVALUE) %>% select(Dataset, Beta, SE, Z, P)
PRKN_R275W_U = UKB %>% filter(POS == 161785820) %>% select(EFFECT, SE, PVALUE) %>% mutate(Dataset = "UKB", Z = EFFECT/SE) %>% dplyr::rename("Beta" = EFFECT, "P" = PVALUE) %>% select(Dataset, Beta, SE, Z, P)
GBA_S146L_U = UKB %>% filter(POS == 155239633) %>% select(EFFECT, SE, PVALUE) %>% mutate(Dataset = "UKB", Z = EFFECT/SE) %>% dplyr::rename("Beta" = EFFECT, "P" = PVALUE) %>% select(Dataset, Beta, SE, Z, P)

write.table(GBA_R502C_U, "UKB_GBA_R502C_rs80356771.txt", quote=F, row.names =F, sep = "\t")
write.table(GBA_N409S_U, "UKB_GBA_N409S_rs76763715", quote=F, row.names =F, sep = "\t")
write.table(GBA_E365K_U, "UKB_GBA_E365K_rs2230288", quote=F, row.names =F, sep = "\t")
write.table(LRRK2_G2019S_U, "UKB_LRRK2_G2019S_rs34637584", quote=F, row.names =F, sep = "\t")
write.table(GBA_T408M_U, "UKB_GBA_T408M_rs75548401", quote=F, row.names =F, sep = "\t")
write.table(GBA_D179H_U, "UKB_GBA_D179H_rs147138516", quote=F, row.names =F, sep = "\t")
write.table(LRRK2_R1441H_U, "UKB_LRRK2_R1441H_rs34995376", quote=F, row.names =F, sep = "\t")
write.table(PRKN_R275W_U, "UKB_PRKN_R275W_rs34424986", quote=F, row.names =F, sep = "\t")
write.table(GBA_S146L_U, "UKB_GBA_S146L_rs758447515", quote=F, row.names =F, sep = "\t")

wc -l UKB_*_*_rs*.txt
  1 UKB_GBA_D179H_rs147138516.txt
  1 UKB_GBA_E365K_rs2230288.txt
  1 UKB_GBA_N409S_rs76763715.txt
  1 UKB_GBA_R502C_rs80356771.txt
  1 UKB_GBA_S146L_rs758447515.txt
  1 UKB_GBA_T408M_rs75548401.txt
  1 UKB_LRRK2_G2019S_rs34637584.txt
  1 UKB_LRRK2_R1441H_rs34995376.txt
  1 UKB_PRKN_R275W_rs34424986.txt
  9 total

### 1.3 AMP-PD

In [13]:
AMP = fread("./UKB_and_AMP/AMP_256_from23andme_withcovars_score.SingleScore.assoc")

GBA_R502C_A = AMP %>% filter(POS == 155235196) %>% select(EFFECT, SE, PVALUE) %>% mutate(Dataset = "AMP", Z = EFFECT/SE) %>% dplyr::rename("Beta" = EFFECT, "P" = PVALUE) %>% select(Dataset, Beta, SE, Z, P)
GBA_N409S_A = AMP %>% filter(POS == 155235843) %>% select(EFFECT, SE, PVALUE) %>% mutate(Dataset = "AMP", Z = EFFECT/SE) %>% dplyr::rename("Beta" = EFFECT, "P" = PVALUE) %>% select(Dataset, Beta, SE, Z, P)
GBA_E365K_A = AMP %>% filter(POS == 155236376) %>% select(EFFECT, SE, PVALUE) %>% mutate(Dataset = "AMP", Z = EFFECT/SE) %>% dplyr::rename("Beta" = EFFECT, "P" = PVALUE) %>% select(Dataset, Beta, SE, Z, P)
LRRK2_G2019S_A = AMP %>% filter(POS == 40340400) %>% select(EFFECT, SE, PVALUE) %>% mutate(Dataset = "AMP", Z = EFFECT/SE) %>% dplyr::rename("Beta" = EFFECT, "P" = PVALUE) %>% select(Dataset, Beta, SE, Z, P)
GBA_T408M_A = AMP %>% filter(POS == 155236246) %>% select(EFFECT, SE, PVALUE) %>% mutate(Dataset = "AMP", Z = EFFECT/SE) %>% dplyr::rename("Beta" = EFFECT, "P" = PVALUE) %>% select(Dataset, Beta, SE, Z, P)
GBA_D179H_A = AMP %>% filter(POS == 155238570) %>% select(EFFECT, SE, PVALUE) %>% mutate(Dataset = "AMP", Z = EFFECT/SE) %>% dplyr::rename("Beta" = EFFECT, "P" = PVALUE) %>% select(Dataset, Beta, SE, Z, P)
LRRK2_R1441H_A = AMP %>% filter(POS == 40310435) %>% select(EFFECT, SE, PVALUE) %>% mutate(Dataset = "AMP", Z = EFFECT/SE) %>% dplyr::rename("Beta" = EFFECT, "P" = PVALUE) %>% select(Dataset, Beta, SE, Z, P)
PRKN_R275W_A = AMP %>% filter(POS == 161785820) %>% select(EFFECT, SE, PVALUE) %>% mutate(Dataset = "AMP", Z = EFFECT/SE) %>% dplyr::rename("Beta" = EFFECT, "P" = PVALUE) %>% select(Dataset, Beta, SE, Z, P)
GBA_S146L_A = AMP %>% filter(POS == 155239633) %>% select(EFFECT, SE, PVALUE) %>% mutate(Dataset = "AMP", Z = EFFECT/SE) %>% dplyr::rename("Beta" = EFFECT, "P" = PVALUE) %>% select(Dataset, Beta, SE, Z, P)

write.table(GBA_R502C_A, "AMP_GBA_R502C_rs80356771.txt", quote=F, row.names =F, sep = "\t")
write.table(GBA_N409S_A, "AMP_GBA_N409S_rs76763715", quote=F, row.names =F, sep = "\t")
write.table(GBA_E365K_A, "AMP_GBA_E365K_rs2230288", quote=F, row.names =F, sep = "\t")
write.table(LRRK2_G2019S_A, "AMP_LRRK2_G2019S_rs34637584", quote=F, row.names =F, sep = "\t")
write.table(GBA_T408M_A, "AMP_GBA_T408M_rs75548401", quote=F, row.names =F, sep = "\t")
write.table(GBA_D179H_A, "AMP_GBA_D179H_rs147138516", quote=F, row.names =F, sep = "\t")
write.table(LRRK2_R1441H_A, "AMP_LRRK2_R1441H_rs34995376", quote=F, row.names =F, sep = "\t")
write.table(PRKN_R275W_A, "AMP_PRKN_R275W_rs34424986", quote=F, row.names =F, sep = "\t")
write.table(GBA_S146L_A, "AMP_GBA_S146L_rs758447515", quote=F, row.names =F, sep = "\t")